body{
    background: url("../img/patterns/pattern6.png");
}


.content-conteiner{
    background: #FFF;
    
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
            
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
       -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}



/* -- profile -- */
.profile-title{
    background: #262626;
    color: #FFF;
    -webkit-border-radius: 4px 4px 0 0;
       -moz-border-radius: 4px 4px 0 0;
            border-radius: 4px 4px 0 0;
}
.profile-title .pft-title{
    padding-left: 20px;
}
.profile-title h4{
    font-weight: normal;
}
.profile-header{
    padding: 20px;
}
.profile-header .pfh-panel{
    
}
/* -- /profile -- */